.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.div1 { grid-area: 1 / 1 / 6 / 6; }
.div2 { grid-area: 5 / 1 / 6 / 2; }
.div3 { grid-area: 5 / 5 / 6 / 6; }
.div4 { grid-area: 1 / 2 / 2 / 5; }
.div5 { grid-area: 4 / 2 / 5 / 5; }
.div6 { grid-area: 2 / 2 / 4 / 5; }

.title {
    font-size: 40px;
    text-align: center;
}

.birthday-button {
    background-color: deeppink;
    border: white;
    font-family: "Yu Gothic";
}

.main-text {
    font-size: 25px;
}

html,body{height:100%}
.bg_heart{position:relative;top:0;left:0;width:100%;height:100%;overflow:hidden}

.heart{position:absolute;top:-50%;-webkit-transform:rotate(-45deg);-moz-transform:rotate(-45deg);-m-transform:rotate(-45deg);transform:rotate(-45deg)}
.heart:before{position:absolute;top:-50%;left:0;display:block;content:"";width:100%;height:100%;background:inherit;border-radius:100%;}
.heart:after{position:absolute;top:0;right:-50%;display:block;content:"";width:100%;height:100%;background:inherit;border-radius:100%;}

@-webkit-keyframes love {
    0%{top:110%}
}
@-moz-keyframes love {
    0%{top:110%}
}
@-ms-keyframes love {
    0%{top:110%}
}
@keyframes love {
    0%{top:110%}
}
